.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.panel:nth-child(1) {
  background-color: pink;
}

.panel:nth-child(2) {
  background-color: paleturquoise;
}

.panel:nth-child(3) {
  background-color: peachpuff;
}